<li
    class="anime-item flex flex-col max-w-xl mx-auto justify-center items-center border-b-2 border-txt mb-4 gap-4 sm:flex-row sm:max-w-7xl pb-2"
>
    <img src="<%= anime.img %>" alt="><%= anime.name %> image" />
    <article class="w-full">
        <h2 class="anime-name text-3xl font-bold sm:text-left"><%= anime.name %></h2>
        <div class="anime-meta">
            <p class="sm:text-left"><%= anime.type %></p>
            <p class="sm:text-left"><%= anime.genre %></p>
        </div>
        <p class="sm:text-left mb-8"><%= anime.description %></p> 
        <div class="restaurant-actions">
            <a
                href="<%= anime.website %>"
                target="_blank"
                class="bg-pink w-full block py-4 text-base font-monsterrat font-bold hover:bg-darkpink max-w-sm mx-auto mt-4 mb-4 sm:mr-0 sm:ml-auto"
                >Go to MyAnimeList</a
            >
            <a 
                href="/anime/<%= anime.id %>"
                class="bg-pink w-full block py-4 text-base font-monsterrat font-bold hover:bg-darkpink max-w-sm mx-auto mt-4 mb-4 sm:mr-0 sm:ml-auto"
                >Read more</a
            >
        </div>
    </article>
</li>
