<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %> 

    <body class="bg-body text-txt font-sans overflow-x-hidden">
        <%- include("includes/header") %>

        <main class="mx-auto mt-24 px-8 text-center">
            <article class="nime-details flex flex-col max-w-xl mx-auto justify-center items-center gap-4 sm:gap-8 sm:flex-row sm:max-w-7xl pb-2">
                <img src="<%= anime.img %>" alt="anime image"
                class="block">
                <div class="wrapper">
                    <h1 class="font-monsterrat font-bold text-4xl text-pink mb-2"><%= anime.name %></h1>
                    <div class="anime-meta leading-relaxed">
                        <p>Type: <%= anime.type %></p>
                        <p>Genre: <%= anime.genre %></p>
                        <p>Episodes: <%= anime.episodes %></p>
                        <p>Score: <%= anime.score %></p>
                        <p>Rating: <%= anime.rate %></p>
                        <p>Aired: <%= anime.start %> to <%= anime.end %></p>
                    </div>
                    <p><%= anime.description %></p>
                
                <a
                        href="<%= anime.website %>"
                        target="_blank"
                        class="bg-pink w-full block py-4 text-lg font-monsterrat font-bold hover:bg-darkpink max-w-md mx-auto mt-6 mb-4"
                        >Go to MyAnimeList</a
                    >
                </div>
            </article>
        </main>
    </body>
</html>
